/* Write your CSS below. */

/* Do not change any CSS below this line. */
h1 {
  color: blue;
  font-size: 30px;
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  text-decoration-line: underline;
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
 
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

h2,
h3 {
  font-size: 20px;
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}
img.profile-photo {
  border: 1px solid blue;
}
h2.skills-header{
  color: rebeccapurple;
}
ul.languages-list {
  list-style-image: [globe.png];
}
a{
  color: red;
}