/* Write your CSS below. */

/* Do not change any CSS below this line. */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: 700;
  underline-solid: rgb(0, 0, 255);
  text-decoration: underline;
  text-decoration-color: blue;
  font-size: 30px;
}
.skills-header {
  color: rebeccapurple;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}
.profile-photo {
  border: 1px solid rgb(0, 0, 255);
}
img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: rgb(255, 0, 0);
}

body {
  font-family: sans-serif;
  text-align: center;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

.languages-list {
  list-style-image: url(assets/globe.png);
}

p {
  font-family: Helvetica, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
