/* Write your CSS below. */
/*- [ ] Set all paragraph text to have a font of `Helvetica, sans-serif`.
- [ ] Set all headings to have a font of `Georgia, serif`.
- [ ] The profile photo should have a class of `profile-photo`. Then, update your CSS so that any element with the `profile-photo` class has a `blue` border that has a `1px` width.
- [ ] Align all text within the `body` element to be in the center of the page.
- [ ] Update the style of all headings so that they are bold and have a blue underline. Note that an underline _is not_ the same as a border.
- [ ] Add a class of `skills-header` to the relevant `h2` element. Then, update your CSS so that any element with a `skills-header` class has the color `rebeccapurple`.
- [ ] Change all links on the page so that they show up `red`.
- [ ] The unordered list underneath the "Languages" heading should include a class of `languages-list`. Then, style all lists that have that class to have a `list-style-image` property with the value being the [globe](./assets/globe.png) image stored in the `assets/` folder.*/

p {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}

h2 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}

h3 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}

.profile-photo {
  border: 1px solid blue;
}

body {
  text-align: center;
}

.skills-header {
  color: rebeccapurple;
}

a {
  color: red;
}

.languages-list {
  background-image: url("assets/globe.png");
}
/* Do not change any CSS below this line. */
h1 {
  color: blue;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
}

h3 {
  text-decoration-line: underline;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2,
h3 {
  font-size: 20px;
}
