/* Write your CSS below. */

/* Do not change any CSS below this line. */
body {
  text-align : center;
  background-color:black;
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  color:black;
  font-size: 60px;
  transition : ease-in 1s;

}
h1:hover {
  color: purple;
  font-size: 70px;
  text-decoration-line: none;
  

}

ul {
  list-style-type: none;
}

/* ol {
  font-weight: bold;
} */

li {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  color: purple;
  background-color: silver;
  padding-left: 30px;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
}

h3 {
  text-decoration-line: underline;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Helvetica" , "sans-serif" ;
}

h2,
/* h3 {
  font-size: 20px;
  font-family: "Georgia", "serif";
} */

.profile-photo {
  border : 1px solid blue;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Georgia", "serif";
  font-weight : 700;
  text-decoration:underline solid rgb(0, 0, 255);

}
.skills-header {
  color: rebeccapurple;
}

a {
  color: red;
}
.languages-list{
  list-style-image: url("globe.png") ;
}