/* Write your CSS below. */


p {
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-family: Georgia, serif;
  text-decoration: underline blue;
  font-weight: bold;
}

body {
  text-align: center;
}

img.profile-photo {
  border: 1px solid blue;
  border-width: wide;
}

h2.skills-header {
  color: rebeccapurple;
}

a, a:active, a:visited {
  color: red
}

ul.languages-list {
  list-style-image:url(assets/globe.png);
}

ol {
  background-color: violet;
}

h2.buggy {
  background-color: green;
  font-size: large;
}

p:nth-child(2) {
  background-color: red;
}

p:last-child {
  background-color: white;
  border: 3px dashed green;
}


/* Do not change any CSS below this line. */
h1 {
  color: blue;
  font-size: 30px;
}

ul {
  list-style-type: none;
}

ol {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

img {
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: sans-serif;
}

h3 {
  text-decoration-line: underline;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

