/* Write your CSS below. */

/* Do not change any CSS below this line. */
h1 {
  color: blue;
  font-size: 30px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-decoration: underline solid blue;
}

.skills-header{
  color:rebeccapurple;
}

ul.languages-list{
  list-style-type: none;
  list-style-image: url(./assets/globe.png);
}

ol {
  font-weight: bold;
}

li {
  text-align: center;
  border: 1px solid red;
  border-radius: 10px;
  color: blue;
  background-color: lightpink;
  padding-left: 30px;
}

img.profile-photo{
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid blue
}

body {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  text-decoration-line: underline;
}

html {
  background-color: rgb(159, 193, 201);
  background: radial-gradient(
    circle,
    rgba(159, 193, 201, 1) 9%,
    rgba(224, 209, 221, 1) 52%,
    rgba(0, 212, 255, 1) 100%
  );
}

p {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

h2,
h3 {
  font-size: 20px;
}

a{
  color: red;
}